.hexagon {
    position: relative;
    width: 28px;
    height: 16.17px;
    background-color: #ffffff;
    margin: 8.08px 0;
    box-shadow: 0 0 20px rgba(255,255,0,1);
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
    line-height: 90%;
}

    .hexagon:before,
    .hexagon:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 19.80px;
        height: 19.80px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 3.1005px;
        box-shadow: 0 0 20px rgba(255,255,0,1);
    }

    .hexagon:before {
        top: -9.8995px;
        border-top: solid 1.4142px #333333;
        border-right: solid 1.4142px #333333;
    }

    .hexagon:after {
        bottom: -9.8995px;
        border-bottom: solid 1.4142px #333333;
        border-left: solid 1.4142px #333333;
    }

    /*cover up extra shadows*/
    .hexagon span {
        display: block;
        position: absolute;
        top: 0.5773502691896257px;
        left: 0;
        width: 26px;
        height: 15.0111px;
        z-index: 2;
        background: inherit;
    }
