html, body {
  height:100%;
} 

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url('./images/backgrounds/bg_1.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}
  
@media screen and (min-width: 300px) {
  .auth-form-container {
    padding: 2rem;
    border-radius: 10px;
    margin: 0.5rem;
    background-color: rgba(9, 0, 34, 0.55);
    box-shadow: 0px 0px 30px 5px #000000;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.btn-in-form {
  margin-top: 20px;
}

.blue {
  color: blue;
}